# Database Configuration
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# RabbitMQ Configuration
RABBITMQ_URL=
RABBITMQ_QUEUE=

# Application Configuration
NODE_ENV=
PORT=
RABBITMQ_URL=
RABBITMQ_QUEUE=

# AWS
AWS_COGNITO_CLIENT_ID=
AWS_COGNITO_USER_POOL_ID=
AWS_REGION=
AWS_S3_BUCKET_NAME=

GMAIL_USER=
GMAIL_APP_PASSWORD=