# Configurações do Banco de Dados PostgreSQL
# Para obter a senha: terraform output -state=../database/terraform/terraform.tfstate db_password
DATABASE_HOST=fiap-hack-postgres.region.rds.amazonaws.com
DATABASE_PORT=5432
DATABASE_NAME=fiaphack
DATABASE_USER=postgres
DATABASE_PASSWORD=senha-gerada-pelo-terraform

# Configurações do Redis
REDIS_HOST=redis-service.redis.svc.cluster.local
REDIS_PORT=6379
REDIS_PASSWORD=redis123456

# Configurações do RabbitMQ
# Para obter a senha: terraform output -state=../rabbitmq/terraform/terraform.tfstate rabbitmq_password
RABBITMQ_HOST=rabbitmq.rabbitmq.svc.cluster.local
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=senha-gerada-pelo-terraform
RABBITMQ_VHOST=/

# Configurações do S3
S3_BUCKET_NAME=your-s3-bucket-name
S3_REGION=us-east-1

# Configurações do Serviço de Autenticação
AUTH_SERVICE_URL=http://your-auth-service-url

# Configurações do Gmail (para notificações)
GMAIL_USER=your-email@gmail.com
GMAIL_APP_PASSWORD=your-gmail-app-password

# Configurações da Aplicação
NODE_ENV=production
PORT=3000

# Configurações do AWS Cognito
AWS_COGNITO_USER_POOL_ID=your-user-pool-id
AWS_COGNITO_CLIENT_ID=your-client-id 